.contact-section {
    display: flex;
    height: 95vh;
}

.contact-section__decoration {
    height: 100%;
    width: 40%;
    position: relative;
}

.contact-section__decoration--rectangle {
    background: -webkit-radial-gradient(circle, rgba(180,34,71,1) 0%, rgba(2,0,36,1) 40%, rgba(0,0,0,0) 90%);
    background-attachment: fixed;
    border-radius: 3vw;
    width: 6vw;
    position: absolute;
}

.contact-section__decoration--rectangle:nth-child(1) {
    height: 45vh;
    top: -7vh;
    left: 1vw;
}

.contact-section__decoration--rectangle:nth-child(2) {
    height: 92vh;
    top: -17vh;
    left: 9.25vw;
}

.contact-section__decoration--rectangle:nth-child(3) {
    height: 56vh;
    top: 0;
    left: 17.5vw;
}

.contact-section__decoration--rectangle:nth-child(4) {
    height: 50vh;
    top: -10vh;
    left: 25.75vw;
}

.contact-section__decoration--rectangle:nth-child(5) {
    height: 78vh;
    top: 7vh;
    left: 34vw;
}

.contact-section__article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 10vh;
    height: 100%;
    width: 60%;
}

.contact-section__article__header {
    padding: 7vh 0 5vh;
}

.contact-section__article__header--title {
    font-size: 1.3rem;
    font-weight: bold;
    color: #312C49;
    line-height: 1;
    text-align: center;
}

.contact-section__article__details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 1vh;
}

.contact-section__article__details--email,
.contact-section__article__details--phone {
    display: flex;
    justify-content: flex-start;
    column-gap: 2vw;
    padding: 5px;
}

.contact-section__article__details--email-icon,
.contact-section__article__details--phone-icon {
    width: 20px;
    height: 20px;
}

.contact-section__article__details--email-address,
.contact-section__article__details--phone-number {
    font-size: 0.8rem;
}

.contact-section__article__socials {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 1.7vh;
}

.contact-section__article__socials--desc {
    font-size: 1rem;
}

.contact-section__article__socials--content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 4vw;
}

.contact-section__article__socials--content__instagram,
.contact-section__article__socials--content__linkedin,
.contact-section__article__socials--content__tiktok {}

.contact-section__article__socials--content__instagram-icon,
.contact-section__article__socials--content__linkedin-icon,
.contact-section__article__socials--content__tiktok-icon {
    width: 36px;
    height: 36px;
}

@media (min-width: 355px) and (max-width: 570px) {
    .contact-section__article__header--title {
        font-size: 1.5rem;
    }
}

@media (min-width: 570px) and (max-width: 930px) {
    .contact-section__article__header--title {
        font-size: 2rem;
    }

    .contact-section__decoration--rectangle {
        background: -webkit-radial-gradient(circle, rgba(180,34,71,1) 0%, rgba(2,0,36,1) 45%, rgba(0,0,0,0) 90%);
        background-attachment: fixed;
    }

    .contact-section__article__details--email-icon,
    .contact-section__article__details--phone-icon {
        width: 22px;
        height: 22px;
    }

    .contact-section__article__details--email-address,
    .contact-section__article__details--phone-number {
        font-size: 0.9rem;
    }

    .contact-section__article__socials--desc {
        font-size: 1.1rem;
    }

    .contact-section__article__socials--content {
        column-gap: 3vw;
    }

    .contact-section__article__socials--content__instagram-icon,
    .contact-section__article__socials--content__linkedin-icon,
    .contact-section__article__socials--content__tiktok-icon {
        width: 40px;
        height: 40px;
    }
}

@media (min-width: 930px) and (max-width: 1600px) {
    .contact-section__article__header--title {
        font-size: 2.6rem;
    }

    .contact-section__decoration--rectangle {
        background: -webkit-radial-gradient(circle, rgba(180,34,71,1) 0%, rgba(2,0,36,1) 55%, rgba(0,0,0,0) 95%);
        background-attachment: fixed;
    }

    .contact-section__article__details--email-icon,
    .contact-section__article__details--phone-icon {
        width: 24px;
        height: 24px;
    }

    .contact-section__article__details--email-address,
    .contact-section__article__details--phone-number {
        font-size: 1rem;
    }

    .contact-section__article__socials--desc {
        font-size: 1.2rem;
    }

    .contact-section__article__socials--content {
        column-gap: 2vw;
    }

    .contact-section__article__socials--content__instagram-icon,
    .contact-section__article__socials--content__linkedin-icon,
    .contact-section__article__socials--content__tiktok-icon {
        width: 44px;
        height: 44px;
    }
}

@media (min-width: 1600px) {
    .contact-section__article__header--title {
        font-size: 4rem;
    }

    .contact-section__decoration--rectangle {
        background: -webkit-radial-gradient(circle, rgba(180,34,71,1) 0%, rgba(2,0,36,1) 57%, rgba(0,0,0,0) 98%);
        background-attachment: fixed;
    }

    .contact-section__article__details--email-icon,
    .contact-section__article__details--phone-icon {
        width: 36px;
        height: 36px;
    }

    .contact-section__article__details--email-address,
    .contact-section__article__details--phone-number {
        font-size: 1.4rem;
    }

    .contact-section__article__socials--desc {
        font-size: 1.7rem;
    }

    .contact-section__article__socials--content {
        column-gap: 2vw;
    }

    .contact-section__article__socials--content__instagram-icon,
    .contact-section__article__socials--content__linkedin-icon,
    .contact-section__article__socials--content__tiktok-icon {
        width: 60px;
        height: 60px;
    }
}

@media (prefers-color-scheme: light) {
    .contact-section__decoration--rectangle {
        background: -webkit-radial-gradient(circle, rgba(180,34,71,1) 0%, rgba(2,0,36,1) 80%, rgba(0,0,0,1) 98%);
        background-attachment: fixed;
    }
  }