.footer {
    height: 3vh;
    padding: 0 0 1vh 1vw;
}

@media (max-width: 236px) {
    .footer {
        font-size: 0.4rem;
    }
}

@media (min-width: 236px) and (max-width: 310px) {
    .footer {
        font-size: 0.44rem;
    }
}

@media (min-width: 310px) and (max-width: 320px) {
    .footer {
        font-size: 0.58rem;
    }
}

@media (min-width: 320px) and (max-width: 355px) {
    .footer {
        font-size: 0.6rem;
    }
}

@media (min-width: 355px) and (max-width: 460px) {
    .footer {
        font-size: 0.67rem;
    }
}

@media (min-width: 460px) and (max-width: 570px) {
    .footer {
        font-size: 0.85rem;
    }
}

@media (min-width: 570px) and (max-width: 620px) {
    .footer {
        font-size: 0.95rem;
    }
}

@media (min-width: 620px) and (max-width: 1600px) {
    .footer {
        font-size: 1rem;
    }
}

@media (min-width: 1600px) and (max-width: 2400px) {
    .footer {
        font-size: 1.2rem;
    }
}

@media (min-width: 2400px) {
    .footer {
        font-size: 1.4rem;
    }
}