.logo-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-bottom: 4vh;
}

.logo-section__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-section__header--title {
    font-size: 3rem;
    font-weight: bold;
    color: #312C49;
    line-height: 1;
    text-align: center;
}

.logo-section__header--desc {
    font-size: 1rem;
    font-weight: bold;
    color: #312C49;
    text-align: center;
}

.logo-section__header--logo {
    padding-top: 40px;
    pointer-events: none;
}

@media (min-width: 355px) and (max-width: 570px) {
    .logo-section__header--title {
        font-size: 4rem;
    }
    
    .logo-section__header--desc {
        font-size: 1.5rem;
    }
}

@media (min-width: 570px) and (max-width: 1600px) {
    .logo-section__header--title {
        font-size: 5rem;
    }
    
    .logo-section__header--desc {
        font-size: 2rem;
    }
}

@media (min-width: 1600px) {
    .logo-section__header--title {
        font-size: 8rem;
    }
    
    .logo-section__header--desc {
        font-size: 4rem;
    }
}
