.kmotion-website {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 440px;
    width: 100%;
    margin-bottom: 4vh;
}

.logo-section__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-section__header--title {
    font-size: 3em;
    font-weight: bold;
    color: #312C49;
    line-height: 1;
    text-align: center;
}

.logo-section__header--desc {
    font-size: 1em;
    font-weight: bold;
    color: #312C49;
    text-align: center;
}

.logo-section__header--logo {
    padding-top: 40px;
    pointer-events: none;
}

.service-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    min-height: 440px;
    /* width: 99vw; */
    margin: 4vh auto;
}

.service-section__header {
    margin-bottom: 15vh;
}

.service-section__header--title {
    font-size: 1.5em;
    font-weight: bold;
    color: #312C49;
    line-height: 1;
    text-align: center;
}

.service-section__article {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

  .service-section__article--service {
    position: relative;
    width: 90px;
    height: 42px;
  }

  .service-section__article--service-hex {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    clip-path: polygon(0% 50%,
                   25% 0%,
                   75% 0%,
                   100% 50%,
                   75% 100%,
                   25% 100%,
                   0% 50% );
    width: 90px;
    height: 78px;
  }

@media (max-width: 236px) {
    .service-section__article--service:nth-child(2n - 1) {
        margin-left: calc(50vw - 78.75px);
    }

     .service-section__article--service:nth-child(2n) {
        margin-left: calc(50vw - 5.75px);
    }
}

@media (min-width: 236px) and (max-width: 295px) {
    .service-section__article--service:nth-child(3n - 2) {
        margin-left: calc(50vw - 118px);
    }
    
    .service-section__article--service:nth-child(3n - 1) {
        margin-left: 56px;
    }
    .service-section__article--service:nth-child(3n) {
        margin-left: calc(50vw - 45px);
    }
}

@media (min-width: 295px) and (max-width: 595px) {
    .service-section__article--service:nth-child(4n - 3) {
        margin-left: calc(50vw - 162px);
    }
    .service-section__article--service:nth-child(4n - 2) {
        margin-left: 56px;
    }
    .service-section__article--service:nth-child(4n - 1) {
        margin-left: calc(50vw - 89px);
    }
    .service-section__article--service:nth-child(4n) {
        margin-left: 56px;
    }

    .service-section__article--service-hex {
        left: 8%;
    }
}











  
@media (min-width: 768px) {
    .logo-section__header--name {
        font-size: 8em;
    }
    
    .logo-section__header--desc {
        font-size: 2em;
    }
}