.service-section {
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    margin: 4vh auto;
    padding: 8vh 0;
}

.service-section__header {
    margin-bottom: 15vh;
}

.service-section__header--title {
    font-size: 1.3rem;
    font-weight: bold;
    color: #312C49;
    line-height: 1;
    text-align: center;
}

.service-section__article {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 10vh;
    position: relative;
}

.service-section__article--service {
    position: relative;
    width: 90px;
    height: 42px;
}

.service-section__article--service-hex {
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(180,34,71,1) 100%);
    background-attachment: fixed;
    clip-path: polygon(0% 50%,
                    25% 0%,
                    75% 0%,
                    100% 50%,
                    75% 100%,
                    25% 100%,
                    0% 50% );
    width: 90px;
    height: 78px;
    display: flex;
    filter: brightness(0.7);
    text-align: center;
    justify-content: center;
    transition: 0.4s;
}

.service-section__article--service-hex:hover {
    filter: brightness(1.2);
}

.service-section__article--service-hex--desc {
    font-size: 0.35rem;
    padding: 4px 18px;
    height: 78px;
    color: #fff;
    text-align: center;
    display: grid;
	align-items: center;
}

@media (max-width: 236px) {
    .service-section__article--service:nth-child(2n - 1) {
        margin-left: calc(50vw - 78.75px);
    }

     .service-section__article--service:nth-child(2n) {
        margin-left: calc(50vw - 5.75px);
    }
}

@media (min-width: 236px) and (max-width: 310px) {
    .service-section__article--service:nth-child(3n - 2) {
        margin-left: calc(50vw - 118px);
    }
    
    .service-section__article--service:nth-child(3n - 1) {
        margin-left: 56px;
    }
    .service-section__article--service:nth-child(3n) {
        margin-left: calc(50vw - 45px);
    }
}

@media (min-width: 310px) and (max-width: 320px) {
    .service-section__article--service:nth-child(4n - 3) {
        margin-left: calc(50vw - 155px);
    }
    .service-section__article--service:nth-child(4n - 2) {
        margin-left: 56px;
    }
    .service-section__article--service:nth-child(4n - 1) {
        margin-left: calc(50vw - 82px);
    }
    .service-section__article--service:nth-child(4n) {
        margin-left: 56px;
    }
}

@media (min-width: 320px) and (max-width: 355px) {
    .service-section__article--service-hex--desc {
        font-size: 0.5rem;
        padding: 12px 14px;
        height: 106.2px;
    }

    .service-section__article--service {
        width: 121.5px;
        height: 56.7px;
    }
    
    .service-section__article--service-hex {
        width: 121.5px;
        height: 106.2px;
    }

    .service-section__article--service:nth-child(3n - 2) {
        margin-left: calc(50vw - 160px);
    }
    .service-section__article--service:nth-child(3n - 1) {
        margin-left: 75px;
    }
    .service-section__article--service:nth-child(3n) {
        margin-left: calc(50vw - 62px);
    } 
}

@media (min-width: 355px) and (max-width: 460px) {
    .service-section__header--title {
        font-size: 1.5rem;
    }

    .service-section__article--service {
        width: 135px;
        height: 63px;
    }
    
    .service-section__article--service-hex {
        width: 135px;
        height: 118px;
    }

    .service-section__article--service-hex--desc {
        font-size: 0.55rem;
        padding: 10px 18px;
        height: 118px;
    }

    .service-section__article--service:nth-child(3n - 2) {
        margin-left: calc(50vw - 175px);
    }

    .service-section__article--service:nth-child(3n - 1) {
        margin-left: 80px;
    }

    .service-section__article--service:nth-child(3n) {
        margin-left: calc(50vw - 68px);
    }
}

@media (min-width: 460px) and (max-width: 570px) {
    .service-section__header--title {
        font-size: 1.5rem;
    }

    .service-section__article--service {
        width: 135px;
        height: 63px;
    }
    
    .service-section__article--service-hex {
        width: 135px;
        height: 118px;
    }

    .service-section__article--service-hex--desc {
        font-size: 0.55rem;
        padding: 10px 18px;
        height: 118px;
    }

    .service-section__article--service:nth-child(4n - 3) {
        margin-left: calc(50vw - 228px);
    }

    .service-section__article--service:nth-child(4n - 2) {
        margin-left: 80px;
    }

    .service-section__article--service:nth-child(4n - 1) {
        margin-left: calc(50vw - 121px);
    }

    .service-section__article--service:nth-child(4n) {
        margin-left: 80px;
    }
}

@media (min-width: 570px) and (max-width: 620px) {
    .service-section__header--title {
        font-size: 2rem;
    }

    .service-section__article--service {
        width: 135px;
        height: 63px;
    }
    
    .service-section__article--service-hex {
        width: 135px;
        height: 118px;
    }

    .service-section__article--service-hex--desc {
        font-size: 0.55rem;
        padding: 10px 18px;
        height: 118px;
    }

    .service-section__article--service:nth-child(5n - 4) {
        margin-left: calc(50vw - 282px);
    }

    .service-section__article--service:nth-child(5n - 3) {
        margin-left: 80px;
    }

    .service-section__article--service:nth-child(5n - 2) {
        margin-left: 80px;
    }

    .service-section__article--service:nth-child(5n - 1) {
        margin-left: calc(50vw - 175px);
    }

    .service-section__article--service:nth-child(5n) {
        margin-left: 80px;
    }
}

@media (min-width: 620px) and (max-width: 760px) {
    .service-section__header--title {
        font-size: 2rem;
    }

    .service-section__article--service {
        width: 180px;
        height: 84px;
    }
    
    .service-section__article--service-hex {
        width: 180px;
        height: 156px;
    }

    .service-section__article--service-hex--desc {
        font-size: 0.7rem;
        padding: 10px 26px;
        height: 156px;
    }

    .service-section__article--service:nth-child(4n - 3) {
        margin-left: calc(50vw - 308px);
    }

    .service-section__article--service:nth-child(4n - 2) {
        margin-left: 110px;
    }

    .service-section__article--service:nth-child(4n - 1) {
        margin-left: calc(50vw - 163px);
    }

    .service-section__article--service:nth-child(4n) {
        margin-left: 110px;
    }
}

@media (min-width: 760px) and (max-width: 930px) {
    .service-section__header--title {
        font-size: 2rem;
    }

    .service-section__article--service {
        width: 180px;
        height: 84px;
    }
    
    .service-section__article--service-hex {
        width: 180px;
        height: 156px;
    }

    .service-section__article--service-hex--desc {
        font-size: 0.7rem;
        padding: 10px 26px;
        height: 156px;
    }

    .service-section__article--service:nth-child(5n - 4) {
        margin-left: calc(50vw - 380px);
    }

    .service-section__article--service:nth-child(5n - 3) {
        margin-left: 110px;
    }

    .service-section__article--service:nth-child(5n - 2) {
        margin-left: 110px;
    }

    .service-section__article--service:nth-child(5n - 1) {
        margin-left: calc(50vw - 235px);
    }

    .service-section__article--service:nth-child(5n) {
        margin-left: 110px;
    }
}

@media (min-width: 930px) and (max-width: 1150px) {
    .service-section__header--title {
        font-size: 2.6rem;
    }

    .service-section__article--service {
        width: 270px;
        height: 126px;
    }
    
    .service-section__article--service-hex {
        width: 270px;
        height: 234px;
    }

    .service-section__article--service-hex--desc {
        font-size: 1rem;
        padding: 18px 38px;
        height: 234px;
    }

    .service-section__article--service:nth-child(4n - 3) {
    margin-left: calc(50vw - 462px);
    }

    .service-section__article--service:nth-child(4n - 2) {
        margin-left: 165px;
    }

    .service-section__article--service:nth-child(4n - 1) {
        margin-left: calc(50vw - 244px);
    }

    .service-section__article--service:nth-child(4n) {
        margin-left: 165px;
    }
}

@media (min-width: 1150px) and (max-width: 1360px) {
    .service-section__header--title {
        font-size: 2.6rem;
    }

    .service-section__article--service {
        width: 270px;
        height: 126px;
    }
    
    .service-section__article--service-hex {
        width: 270px;
        height: 234px;
    }

    .service-section__article--service-hex--desc {
        font-size: 1rem;
        padding: 18px 38px;
        height: 234px;
    }

    .service-section__article--service:nth-child(5n - 4) {
        margin-left: calc(50vw - 570px);
    }

    .service-section__article--service:nth-child(5n - 3) {
        margin-left: 165px;
    }

    .service-section__article--service:nth-child(5n - 2) {
        margin-left: 165px;
    }

    .service-section__article--service:nth-child(5n - 1) {
        margin-left: calc(50vw - 353px);
    }

    .service-section__article--service:nth-child(5n) {
        margin-left: 165px;
    }
}

@media (min-width: 1360px) and (max-width: 1600px) {
    .service-section__header--title {
        font-size: 2.6rem;
    }
    
    .service-section__article--service {
        width: 270px;
        height: 126px;
    }
    
    .service-section__article--service-hex {
        width: 270px;
        height: 234px;
    }

    .service-section__article--service-hex--desc {
        font-size: 1rem;
        padding: 18px 38px;
        height: 234px;
    }

    .service-section__article--service:nth-child(6n - 5) {
        margin-left: calc(50vw - 679px);
    }

    .service-section__article--service:nth-child(6n - 4) {
        margin-left: 165px;
    }

    .service-section__article--service:nth-child(6n - 3) {
        margin-left: 165px;
    }

    .service-section__article--service:nth-child(6n - 2) {
        margin-left: calc(50vw - 462px);
    }

    .service-section__article--service:nth-child(6n - 1) {
        margin-left: 165px;
    }

    .service-section__article--service:nth-child(6n) {
        margin-left: 165px;
    }
}

@media (min-width: 1600px) and (max-width: 2400px) {
    .service-section__header--title {
        font-size: 4rem;
    }

    .service-section__article--service {
        width: 270px;
        height: 126px;
    }
    
    .service-section__article--service-hex {
        width: 270px;
        height: 234px;
    }

    .service-section__article--service-hex--desc {
        font-size: 1rem;
        padding: 18px 38px;
        height: 234px;
    }

    .service-section__article--service:nth-child(7n - 6) {
        margin-left: calc(50vw - 788px);
    }

    .service-section__article--service:nth-child(7n - 5) {
        margin-left: 165px;
    }

    .service-section__article--service:nth-child(7n - 4) {
        margin-left: 165px;
    }

    .service-section__article--service:nth-child(7n - 3) {
        margin-left: 165px;
    }

    .service-section__article--service:nth-child(7n - 2) {
        margin-left: calc(50vw - 570px);
    }

    .service-section__article--service:nth-child(7n - 1) {
        margin-left: 165px;
    }

    .service-section__article--service:nth-child(7n) {
        margin-left: 165px;
    }
}

@media (min-width: 2400px) {
    .service-section__header--title {
        font-size: 4rem;
    }
    
    .service-section__article--service {
        width: 405px;
        height: 189px;
    }
    
    .service-section__article--service-hex {
        width: 405px;
        height: 351px;
    }

    .service-section__article--service-hex--desc {
        font-size: 1.5rem;
        padding: 18px 38px;
        height: 351px;
    }

    .service-section__article--service:nth-child(7n - 6) {
        margin-left: calc(50vw - 1180px);
    }

    .service-section__article--service:nth-child(7n - 5) {
        margin-left: 248px;
    }

    .service-section__article--service:nth-child(7n - 4) {
        margin-left: 248px;
    }

    .service-section__article--service:nth-child(7n - 3) {
        margin-left: 248px;
    }

    .service-section__article--service:nth-child(7n - 2) {
        margin-left: calc(50vw - 854px);
    }

    .service-section__article--service:nth-child(7n - 1) {
        margin-left: 248px;
    }

    .service-section__article--service:nth-child(7n) {
        margin-left: 248px;
    }
}